.cartControl{

}

.cartControl div{
    display: flex
}

.cartControl .quantity {
    font-size: 1.5em;
    font-weight: 700;
    color: #639a67
}

.cart-icons  img {
    width: 30px;
    height: 30px;
    margin: 4px;
}