.cartControl{

}

.cartControl div{
    display: flex
}

.cartControl .quantity {
    font-size: 1.5em;
    font-weight: 700;
    color: #639a67
}

.cart-icons  img {
    width: 30px;
    height: 30px;
    margin: 4px;
}

@media (max-width: 768px) {
    .cartControl .quantity {
        font-size: 1.1em
    }

    .cart-icons  img {
        width: 20px;
        height: 20px;
        margin: 2px;
    }

    .format {
        font-size: .8em
    }

    hr {
        margin: 4px 0
    }



}