/* .storeCard, storeCard:hover {
    padding-bottom: 0;
    padding-top: 10em;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    
}

.backdrop {
    background-color: rgba(#c0d7bb, .5) !important;

} */
/* Moved to override.css */
