//@import './../../node_modules/bootstrap/scss/variables';
//@import './../../node_modules/bootstrap/scss/functions';
//@import './../../node_modules/bootstrap/scss/mixins';

//Colors
$light:         #c0d7bb;
$dark:          #005555;
$primary:        #639a67;
$secondary:        #D9BF77;

$theme-colors: (
    "light":         $light ,
    "dark":          $dark,
    "primary":       $primary,
    "secondary":     $secondary,
);

$navbar-dark-color:                 rgba(white, .8) ;
$navbar-dark-hover-color:           rgba(white, .9) ;
$navbar-dark-active-color:          white !default;
$navbar-dark-disabled-color:        rgba(white, .25) !default;
$navbar-dark-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-dark-toggler-border-color:  rgba(white, .1) !default;

$dropdown-bg: $light;

h1,h2,h3, .modal-title {
    color: $dark;
}

@import "../../node_modules/bootstrap/scss/bootstrap";

.backdrop {
    background-color: rgba($light, .85) !important;

}

.storeCard, .storeCard:hover {
    padding-bottom: 0;
    padding-top: 10em;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    color: $dark
}

.storeCard p {
    font-family: 'nothing you could do', 'sans-serif';
}




@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Open+Sans:wght@300;400;600&display=swap');

